{% extends "base.html" %}
{% block content %}

<h2>Update an Appointment</h2>

<form action="/appointments/{{ appointment.id }}" method="POST">
    <div>
        <label for="name">Date:</label>
        <input type="text" id="date" name="date" value="{{ appointment.date }}">
        <label for="name">Time:</label>
        <input type="text" id="time" name="time" value="{{ appointment.time }}">
        <label for="dog">Dog:</label>
        <select name="dog_id" id="dog">
            {% for dog in dogs %}
            <option value="{{ dog.id }}" {% if dog.id == appointment.dog.id %} selected {% endif %}>
                {{ dog.name }}
            </option>
            {% endfor %}
        </select>
        <label for="groomer">Groomer:</label>
        <select name="groomer_id" id="groomer_id">
            {% for groomer in groomers %}
            <option value="{{ groomer.id }}">
                {{ groomer.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}