{% extends "base.html" %}
{% block content %}

<h2>Appointments</h2>

<li><a href="/appointments/today">Today's Appointments</a></li>

<form action="/appointments/dates" method="POST">
    <div>
        Filter Specific Dates:
        <label for="name">Date From:</label>
        <input type="text" id="date_from" name="date_from">
        <label for="name">Date To:</label>
        <input type="text" id="date_to" name="date_to">
    </div>
    <div>
        <input type="submit">
    </div>
</form>


{% for appointment in appointments %}

<section>
    <h3>{{ appointment.date }}</h3>
    <h4><a href="/appointments/{{ appointment.id }}">{{ appointment.time }}</a></h4>
    <p>{{ appointment.dog.name }}</p>
</section>

{% endfor %}
{% endblock %}