{% extends "base.html" %}
{% block content %}

<section id="container_2">
    <div id="groomers_index">
        <h3>Update Groomer</h3>
        {% for groomer in groomers %}
        <h2><a href="/groomers/{{ groomer.id }}">{{ groomer.name }}</a></h3>
            {% endfor %}
            <form action="/groomers/{{ groomer.id }}" method="POST">
                <label for="name"><b>Name</b></label>
                <input type="text" id="name" name="name" value="{{ groomer.name }}">
                <p></p>
                <label for="name"><b>Contact Number</b></label>
                <input type="text" id="contact_number" name="contact_number" value="{{ groomer.contact_number }}">
                <br>
                <br>
                <input id="button" type="submit">
    </div>
    </form>
</section>

{% endblock %}