{% extends "base.html" %}
{% block content %}

<section id="container_2">
        <div id="groomers_index">
                <h3>Groomers</h3>
                {% for groomer in groomers %}
                <h2><a href="/groomers/{{ groomer.id }}">{{ groomer.name }}</a></h2>
                {% endfor %}
        </div>
        <div id="groomers_index">
                <h3>New Groomer</h3>
                <form action="/groomers" method="POST">
                        <div>
                                <label for="name"><b>Name</b></label>
                                <input type="text" id="name" name="name">
                                <p></p>
                                <label for="name"><b>Contact Number</b></label>
                                <input type="text" id="contact_number" name="contact_number">
                        </div>
                        <p></p>
                        <div>
                                <input id="button" type="submit">
                        </div>
                </form>
        </div>
</section>

{% endblock %}