{% extends 'base.html' %}
{% block content %}

<h2>{{ groomer.name }}</h2>
<p>Contact Number: {{ groomer.contact_number }}</p>

<form action="/groomers/{{ groomer.id }}/edit" method="POST">
    <input type="submit" value="Edit">
</form>    <form action="/groomers/{{ groomer.id }}/delete" method="POST">
    <input type="submit" value="Delete">
</form>

<h3>Appointments</h3>
<ul>{% if appointments != None %}
        {% for appointment in appointments %}
            <li><a href="/appointments/{{ appointment.id }}">{{ appointment.date }} @ {{ appointment.time }}</a></li>
        {% endfor %}
    {% else %}
        No Appointments Booked
    {% endif %}
</ul>
{% endblock %}