{% extends 'base.html' %}
{% block content %}

<section id="container_2">
    <div id="groomers_index">
        <h3>{{ groomer.name }}</h3>
        <p><b>Contact Number</b></p>
        <p>{{ groomer.contact_number }}</p>
        <br>
        <form action="/groomers/{{ groomer.id }}/edit" method="POST">
            <input id="button" type="submit" value="Edit">
        </form>
        <form action="/groomers/{{ groomer.id }}/delete" method="POST">
            <input id="button" type="submit" value="Delete">
        </form>
    </div>
    <div id="groomers_index">
        <h3>Appointments</h3>
        {% if not appointments %}
        No Appointments Booked
        {% else %}
        {% for appointment in appointments %}
        <a href="/appointments/{{ appointment.id }}"><b>{{ appointment.date }} @ {{ appointment.time }}</b></a>
        {% for dog in dogs %}
        {% if appointment.dog == dog.id %}
        <p>{{ dog.name }}, {{ dog.breed }}</p>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}