{% extends "base.html" %}
{% block content %}

<h2>Walks</h2>

<li><a href="/walks/today">Today's Walks</a></li>

<form action="/walks/dates" method="POST">
    <div>
        Filter Specific Dates:
        <label for="name">Date From:</label>
        <input type="text" id="date_from" name="date_from">
        <label for="name">Date To:</label>
        <input type="text" id="date_to" name="date_to">
    </div>
    <div>
        <input type="submit">
    </div>
</form>


{% for walk in walks %}

<section>
    <h3>{{ walk.date }}</h3>
    <h4><a href="/walks/{{ walk.id }}">{{ walk.time }}</a></h4>
</section>

{% endfor %}
{% endblock %}