{% extends "base.html" %}
{% block content %}

<section id="container_2">
    <div id="owners_index">
        <h3>Update Owner</h3>
        {% for owner in owners %}
        <h2><a href="/owners/{{ owner.id }}">{{ owner.name }}</a></h3>
            {% endfor %}
            <form action="/owners/{{ owner.id }}" method="POST">
                <label for="name"><b>Name</b></label>
                <input type="text" id="name" name="name" value="{{ owner.name }}">
                <p></p>
                <label for="name"><b>Contact Number</b></label>
                <input type="text" id="contact_number" name="contact_number" value="{{ owner.contact_number }}">
                <br>
                <br>
                <input id="button" type="submit">
    </div>
    </form>
</section>

{% endblock %}