{% extends 'base.html' %}
{% block content %}

<section id="container_2">
    <div id="owners_index">
        <h3>{{ owner.name }}</h3>
        <p><b>Contact Number</b></p>
        <p>{{ owner.contact_number }}</p>
        <br>
        <form action="/owners/{{ owner.id }}/edit" method="POST">
            <input id="button" type="submit" value="Edit">
        </form>
        <form action="/owners/{{ owner.id }}/delete" method="POST">
            <input id="button" type="submit" value="Delete">
        </form>
    </div>
    <div id="owners_index">
        <h3>Dogs</h3>
        {% if not dogs %}
        No Dogs Registered
        {% else %}
        {% for dog in dogs %}
        <a href="/dogs/{{ dog.id }}"><b>{{ dog.name }}</b></a><br>
        {{ dog.breed }}<br><br>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock %}