<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Paws2Groom Booking App</title>
</head>
<body>
    <header>
        <h1>Paws2Groom Booking App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    Groomers
                    <ul>
                        <li><a href="/groomers">All Groomers</a></li>
                        <li><a href="/groomers/new">New Groomer</a></li>
                    </ul>
                </li>
                <li>
                    Owners
                    <ul>
                        <li><a href="/owners">All Owners</a></li>
                        <li><a href="/owners/new">New Owner</a></li>
                    </ul>
                </li>
                <li>
                    Dogs
                    <ul>
                        <li><a href="/dogs">All Dogs</a></li>
                        <li><a href="/dogs/new">New Dog</a></li>
                    </ul>
                </li>
                <li>
                    Appointments
                    <ul>
                        <li><a href="/appointments">All Appointments</a></li>
                        <li><a href="/appointments/new">New Appointment</a></li>
                    </ul>
                </li>
                <li>Walks
                    <ul>
                        <li><a href="/walks">All Walks</a></li>
                        <li><a href="/walks/new">New Walk</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>