{% extends 'base.html' %}
{% block content %}

<section id="container">
    <div id="round_corners_1">
        <h3 id="links"><a href="/groomers"><i class="fa fa-users"></i>
                <p>Groomers</p>
            </a></h3>
    </div>
    <div id="round_corners_2">
        <h3 id="links"><a href="/owners"><i class="fa fa-users"></i>
                <p>Owners</p>
            </a></h3>
    </div>
    <div id="round_corners_3">
        <h3 id="links"><a href="/dogs"><i class="fa fa-users"></i>
                <p>Dogs</p>
            </a></h3>
    </div>
    <div id="round_corners_4">
        <h3 id="links"><a href="/appointments"><i class="fa fa-users"></i>
                <p>Appointments</p>
            </a></h3>
    </div>
</section>

{% endblock content %}
THIS WILL BE THE HOMEPAGE.