{% extends "base.html" %}
{% block content %}

<h2>Update a Dog</h2>

<form action="/dogs/{{ dog.id }}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ dog.name }}">
        <label for="name">Breed:</label>
        <input type="text" id="breed" name="breed" value="{{ dog.breed }}">
        <label for="name">Age:</label>
        <input type="number" id="age" name="age" value="{{ dog.age }}">
        <label for="name">Owner First Name:</label>
        <input type="text" id="owner_first_name" name="owner_first_name" value="{{ dog.owner_first_name }}">
        <label for="name">Owner Last Name:</label>
        <input type="text" id="owner_last_name" name="owner_last_name" value="{{ dog.owner_last_name }}">
        <label for="name">Contact Number:</label>
        <input type="text" id="owner_contact_number" name="owner_contact_number" value="{{ dog.owner_contact_number }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}