{% extends "base.html" %}
{% block content %}

<h2>Add a New Dog</h2>

<form action="/dogs" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="name">Breed:</label>
        <input type="text" id="breed" name="breed">
        <label for="name">Age:</label>
        <input type="number" id="age" name="age">
        <label for="owner">Owner:</label>
        <select name="owner_id" id="owner_id">
            {% for owner in owners %}
            <option value="{{ owner.id }}">
                {{ owner.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}